<p id="notice"><%= notice %></p>

<h1>Listing Businesses</h1>

<table class = "table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Location</th>
      <th>Phone</th>
      <th>Name</th>
    </tr>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.location %></td>
        <td><%= business.phone %></td>
        <td><%= business.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
