<p id="notice"><%= notice %></p>

<%= @business.location %>
<%= @business.phone %>
<%= @business.name %>
<br>
<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
