<p id="notice"><%= notice %></p>

<%= Business.find(@pet.business_id).name %>
<%= @pet.pet_name %>
<%= @pet.type %>
<%= @pet.age %>
<%= @pet.gender %>

<br>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
