<div class="container">
    <div class="jumbotron">
        <p><a class="btn btn-med btn-primary" <%=link_to "Users", :users %></a></p>
        <p><a class="btn btn-med btn-primary" <%=link_to "Saved Pets", :saved %></a></p>

        <p><a class="btn btn-med btn-primary" <%=link_to "Pets", :pets %></a></p>
        <p><a class="btn btn-med btn-primary" <%=link_to "Breeds", :breeds %></a></p>
        <p><a class="btn btn-med btn-primary" <%=link_to "Images", :images %></a></p>

        <p><a class="btn btn-med btn-primary" <%=link_to "Businesses", :businesses %></a></p>
        <p><a class="btn btn-med btn-primary" <%=link_to "Donations", :donations %></a></p>

    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Tips for Finding Your Best Friend</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.<a href = #> Learn more >></a></p>

            <h4>Guide to Adopting a Pet</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.<a href = #> Learn more >></a></p>

            <h4>How to Train Your Dog</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.<a href = #> Learn more >></a></p>
        </div>

        <div class="col-lg-6">
            <h4>How to Adopt a Cat</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.<a href = #> Learn more >></a></p>

            <h4>Introducing New Pets</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.<a href = #> Learn more >></a></p>

            <h4>Six Tips for Happier Pets</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.<a href = #> Learn more >></a></p>
        </div>
    </div>
</div>
<!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>