<p id="notice"><%= notice %></p>

<h1>Listing Donations</h1>

<table class = "table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tr>
      <th>Donation ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.id %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
