<p id="notice"><%= notice %></p>

<h1>Listing Donations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.donation_id %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
