<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_email, :value => current_user.email %>
  
  <!-- Drop down menu selecter-->
    <div class="form-group">
      <div class="col-md-4">
        <%= f.label :pet_id, 'Choose a pet.' %>
        <%= f.select :pet_id, Pet.all.map {|pet| [pet.pet_name, pet.pet_id]} %>
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <div class="col-md-4">
        <%= f.label :date, 'appointment date?' %>
        <%= f.datetime_select :date,{:use_short_month=> true, 
                                       :add_month_numbers=> true, :discard_hour=> true}, 
                                       {:class=> 'date-select'} %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
